<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Scout Master</a>
    </div>
    <ul class="nav navbar-nav">
      <li style="cursor: default" class=""><a>Please Select the user</a></li>
      <li style="margin-top: 3%">
        <select class="form-control" id="sel1" (change)="changeUser($event.target.value)">
          <option *ngFor="let user of users" value="{{ user.id }}">
            {{ user.name }}
          </option>
        </select>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
